button{
    width: 100px;
    height: 100px;
    padding: 5px;
    border: transparent;
    border-radius: 50px;
    font-size: 3rem;
    color: cornsilk;
    background-color: darkslategray;
    cursor: pointer;
    transition: all 0.3 ease;


}
button:hover{
    transform: scale(1.05) ;
    box-shadow:  0 0 5px rgb(242, 244, 152);
}


#calculator{
    max-width: 500px;
    overflow: hidden;
    background-color: dimgray;
    border-radius: 25px;

}

#display{
    width: 100%;
    height: 100px;
    font-size: 3rem;
    border-radius: 5px;
    border: 5px solid black;
    background-color: rgb(33, 50, 50);
    color: cornsilk;
    
  
   
    
   
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin: 10px;;
    
    
}

.operator-btn{
    background-color: rgb(217, 120, 88);
    font-size: 3rem;
}

.container{
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

body{
    background-color: rgb(171, 191, 229);
}